body {
    font-family: Bodoni moda, sans-serif;
    color: #333;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


img {
    max-width: 100%;
}


.navbar {
    min-height: 55px;
}


.navbar-brand {
    font-size: 15px;
    font-weight: 500;
    color: #444 
}


.navbar .btn {
    font-size: 13px;
    padding: 7px 15px;
}


#hero {

    min-height: 320px;

    background-image: url("img/uno.jpg");

    background-size: cover;

    background-position: center;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

}


.hero-contenido h1 {

    color: white;

    font-size: 42px;

    font-weight: 700;

    line-height: 1.2;

    margin: 0;

}


#programas {

    background-color: #f8f9fa;

    padding: 75px 0;

}


#programas .icono {

    display: block;

    font-size: 42px;

    color: #0d6efd;

    margin-bottom: 15px;

}


#programas h4 {

    font-size: 19px;

    font-weight: 600;

    margin-bottom: 10px;

}


#programas p {

    color: #777;

    font-size: 14px;

    line-height: 1.6;

    max-width: 280px;

    margin: auto;

}



#integridad {

    background-color: white;

}


#integridad .texto {

    padding: 70px;

}


#integridad .imagen {

    padding: 0;

}


#integridad img {

    width: 100%;

    height: 280px;

    object-fit: cover;

}


#integridad h2 {

    font-size: 23px;

    font-weight: 600;

    margin-bottom: 10px;

}


#integridad p {

    color: #777;

    font-size: 14px;

    line-height: 1.6;

    max-width: 500px;

}



#compromiso {

    background-color: white;

}


#compromiso .texto {

    padding: 70px;

}


#compromiso .imagen {

    padding: 0;

}


#compromiso img {

    width: 100%;

    height: 280px;

    object-fit: cover;

}


#compromiso h2 {

    font-size: 23px;

    font-weight: 600;

    margin-bottom: 10px;

}


#compromiso p {

    color: #777;

    font-size: 14px;

    line-height: 1.6;

    max-width: 500px;

}



#informacion {

    background-image: url("img/hero.jpg");

    background-size: cover;

    background-position: center;

    padding: 65px 0;

}


.informacion-box {

    max-width: 760px;

    margin: auto;

}




footer {

    background-color: white;

    padding: 35px 0;

}


footer p {

    color: #777;

    font-size: 12px;

}


footer a {

    color: #0d6efd;

    font-size: 19px;

    margin-left: 15px;

    text-decoration: none;

}


footer a:hover {

    color: #084298;

}



#suscribir {

    background-image: url("img/uno.jpg");

    background-size: cover;

    background-position: center;

    padding: 75px 0;

    

}

